# Core data
numpy>=1.23
pandas>=1.5

# Machine Learning & Data Science
scikit-learn>=1.2
tensorflow==2.15.0.post1
pyarrow
fastparquet

# Visualization
matplotlib>=3.7

# Notebooks
jupyter
ipykernel

# MLOps
dvc[gdrive]

# Utilities
pyyaml
tqdm
joblib

# Test / tooling
pytest
ruff
pre-commit
