# Environment
.env

# Python
__pycache__/
.venv
*.py[cod]
*.pyo
*.pyd

.ruff_cache/
.mypy_cache

ml/.pytest_cache/
ml/.ruff_cache/
ml/__pycache__/
ml/.venv/

ml/requirements2.txt

!*.dvc
!dvc.yaml
!dvc.lock
*.csv
*.parquet
*.npz
*.joblib

#Coverage
.coverage
coverage/
htmlcov/
pytest_cache/